/* Example app src*/
html {
    position: relative;
    min-height: 100%;
    }
    body {
    /* Margin bottom by footer height */
    margin-bottom: 2em;
    }
    .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
    /* Set the fixed height of the footer here */
    line-height: 1.5em;
    /* Vertically center the text there */
    background-color: #f5f5f5;
    }
    hr {
    width: 50%;
    margin: auto;
}
.table td {
text-align: center;
vertical-align: middle;
}
.table tr {
text-align: center;
vertical-align: middle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6F4930;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #C56C39;
}

.active {
    background-color: #04AA6D;
}
/* bootstrap modifications */
.container {
width: auto;
max-width: 680px;
padding: 0 15px;
}
.extra-bottom {
padding-bottom: 2em;
}
.task {
width: 50%;
}
.task-id {
width: 10%;
}
.status {
width: 20%;
}
.update {
width: 10%;
}

body {
    background-color: #FFFFFF;
}
h1 {
    color: #000000;
}
p {
    color: #FFFFFF;
}

.header {
    padding: 30px;
    font-family: 'Abril Fatface', Arial, serif;
    text-align: center;
    background: #213A1B;
    color: white;
    font-size: 30px;
}

.dropbtn {
    background-color: #6F4930;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn2 {
    position: relative;
    left: 50px;
    background-color: #6F4930;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #C56C39;
}

#myInput {
    box-sizing: border-box;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

#myInput2 {
    box-sizing: border-box;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-family: Arial, serif;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown2 {
    position: relative;
    left: 50px;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    left: 50px;
    font-family: Arial, serif;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.dropdown2 a:hover {background-color: #ddd;}

.show {display: block;}



 