<!DOCTYPE html>

<html>
    <head>
        <title>NPS Advisor - Events</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/parking.css') }}">

        <!--Icon Library-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
    </head>
    <body style="margin-top:78px">
        <div class="sidenav">
            <u style=color:white><h1 style=text-align:center;color:white;font-weight:bold>NPS Advisor</h1></u>
            <ul>
                {% for item in nav.top %}
                <ul class="{{ 'active' if item.is_active else '' }}">
                    <a href="{{ item.url }}">{{ item.label }}</a>
                </ul>
                {% endfor %}
            </ul>
        </div>
        <main>
            <div class="container extra-bottom">
                <form method="post" action="" form="float:left">
                    <input type="text" placeholder="Find events by park name" name="park">
                    <button type="submit" class="search-button">Search</button>
                    <button type="button" class="btn btn-outline-info btn-sm button" data-bs-toggle="modal" data-bs-target="#add-modal" data-source="New Event" style="float:right">Add Events</button>
                </form>
            </div>
            <div class="container table-responsive">
                <!-- Table-->
                <table class="table">
                    <thead> <!--Table metadata-->
                    <tr>
                        <th class="Event Name">Name</th>
                        <th class="Event Description">Description</th>
                        <th class="Event Start Date">Start Date</th>
                        <th class="Event End Date">End Date</th>
                        <th class="Event Location">Located In</th>
                        <th class="Free Parking">Free Parking</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{event.event_title}}</td>
                            <td>{{event.event_description}}</td>
                            <td>{{event.start_date.month}}/{{event.start_date.day}}/{{event.start_date.year}}</td>
                            <td>{{event.end_date.month}}/{{event.end_date.day}}/{{event.end_date.year}}</td>
                            <td>{{event.park_name}} , {{event.states}}</td>
                            {% if event.event_title in free_parking %}
                                <td><i class="fas fa-check" style="font-size:25px;color:#213A1B;"></i></td>
                            {% else %}
                                <td><i></i></td>
                            {% endif %}
                            <td>
                                <div>
                                    <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" id="edit-button"
                                    data-bs-target="#edit-modal" data-source="{{event.event_id}}"
                                    data-content="{{event}}"><i class="fa fa-pen fa-1" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <!--Edit Modal-->
                                <div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true" data-source="{{event.event_id}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="Label">Edit an Event</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- <div class="display-group mb-3">
                                                    <span class="display-group-text">ID: {{event.event_id}}</span>
                                                </div> -->
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Event Title</span>
                                                    <input type="text" class="form-control" placeholder="Event Title" aria-label="event-title" aria-describedby="basic-addon1" id="event-title" data-source="{{event.event_title}}">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Event Description</span>
                                                    <input type="text" class="form-control" placeholder="Event Description" aria-label="event-description" aria-describedby="basic-addon1" id="event-description" data-source="{{event.event_description}}">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Event Start Date</span>
                                                    <input type="date" class="form-control" placeholder="Event Start Date" aria-label="event-start-date" aria-describedby="basic-addon1" id="event-start-date" data-source="{{event.start_date}}">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Event End Date</span>
                                                    <input type="date" class="form-control" placeholder="Event End Date" aria-label="event-start-date" aria-describedby="basic-addon1" id="event-end-date" data-source="{{event.end_date}}">
                                                </div>
                                                <div class="display-group mb-3">
                                                    <span class="display-group-text">Park: {{event.park_name}}</span>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button id="submit-edit-event" type="button" class="btn btn-primary" data-source="{{event.event_id}}" data-content="">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="btn-secondary btn-sm remove" type="button" id="delete-button"  data-source="{{event.event_id}}">
                                <i class="fa fa-trash fa-1"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}   
                    </tbody>
                </table>
            </div>
            <!-- Add modal -->
            <div class="container">    
                <div class="modal fade" id="add-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add an Event</h5>
                                <button type="button" class="fclose" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true" style="font-size:20px">&times;</span>
                                </button>
                              </div>
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Title</span>
                                    <input type="text" class="form-control" placeholder="Event Title" aria-label="event-title" aria-describedby="basic-addon1"  id="event-title">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Description</span>
                                    <input type="text" class="form-control" placeholder="Event Description" aria-label="event-description" aria-describedby="basic-addon1" id="event-description">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Start Date *</span>
                                    <input type="date" class="form-control" placeholder="Event Start Date" aria-label="event-start-date" aria-describedby="basic-addon1" id="event-start-date">
                                    <span class="input-group-text">End Date *</span>
                                    <input type="date" class="form-control" placeholder="Event End Date" aria-label="event-start-date" aria-describedby="basic-addon1" id="event-end-date">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="dropdown">
                                        <label class="input-group-text" for="igs-01" id="park-full-name">Park *</label>
                                        <select class="form-select" id="igs-01">
                                            <option>Choose park...</option>
                                            {% for park_name in park_names %}  
                                                <option>{{park_name.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <h6> * denotes a required field to submit</h6>
                            </div>
                            <div class="modal-footer">
                                <button id="submit-task" type="button" class="btn">Save Changes</button>
                                <button type="button" class=" btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/modal.js') }}"></script>
</html>