<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Serif+Pro:wght@700&display=swap" rel="stylesheet">
    </head>
<body style="font-family: Source Serif Pro, Arial, serif";>
    <div class="header">
        <h1>National Park Advisor [Demo]</h1>
        <p1>Home</p1>
    </div>

    <ul>
        {% for item in nav.top %}
        <li class="{{ 'active' if item.is_active else '' }}">
            <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {% endfor %}
    </ul>

    <h1>National Park Selection</h1>

    <p> Filter by: </p>

    <div class="dropdown">
        <button onclick="myFunction()" style="font-family: Source Serif Pro, Arial, serif" class="dropbtn">State</button>
        <div id="myDropdown" class="dropdown-content">
          <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
          {% for i in states %}
            <a href="{{"#placeholder"}}">{{ i }}</a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="dropdown2">
        <button onclick="myFunction2()" style="font-family: Source Serif Pro, Arial, serif" class="dropbtn">Activity</button>
        <div id="myDropdown2" class="dropdown-content">
          <input type="text" placeholder="Search.." id="myInput2" onkeyup="filterFunction2()">
          {% for i in activities %}
            <a href="{{"#placeholder"}}">{{ i }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
</body>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

function myFunction2() {
    document.getElementById("myDropdown2").classList.toggle("show");
}

function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
    } else {
        a[i].style.display = "none";
    }
    }
}

function filterFunction2() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput2");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown2");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
    } else {
        a[i].style.display = "none";
    }
    }
}
</script>


</html>